@model IEnumerable<ModelAccessLayer.Departments>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                    @Html.ActionLink("Edit", "UpdateDepartment", new { id=item.id }) |
                @Html.ActionLink("Details", "GetDepartmentById", new { id=item.id }) |
                    @Html.ActionLink("Delete", "DeleteDepartment", new { id = item.id })
            </td>
        </tr>
}
    </tbody>
</table>
